@use '@matteusan/himig' with ($expressive-inks: true);
@use '@matteusan/himig/ms-button';
@use '@matteusan/himig/ms-card';
@use '@matteusan/himig/ms-form-field';
@use '@matteusan/himig/ms-utils';

@include himig.init(
  $accent: (
    100: #ffcaca,
    200: #f57b7b,
    300: #f14f4f,
    400: #e11212,
    600: #a10808,
    800: #5a0404,
  ),
  $surface: 'ms-white',
  $background: 'ms-white.200'
);

.app {
  width: 100%;
  min-width: 0;
  min-height: 100svh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  scroll-behavior: smooth;
}

html,
body,
body > * {
  scroll-behavior: smooth;
  scroll-padding-block-start: 155px;
}

* {
  min-width: 0;
}

main.content-wrap {
  width: calc(100% - 50px);
  height: 100%;

  @include himig.breakpoint-create('medium') {
    width: calc(100% - 74px);
  }
}

@include ms-button.render();
.ms-button {
  // height: fit-content;
}
@include ms-card.render(
  $color: (
    'fill': 'surface-300',
    'ink': 'surface-ink',
    'border': 'surface-300'
  )
);
@include ms-card.extend('hoverable') {
  transition: all var(--ms-transition-time) ease-in-out;

  &:hover {
    transform: translateY(-10px);
    @include himig.struct-shadow('tile', 'md');

    @include himig.breakpoint-create('large') {
      @include himig.key-bind('tile-opacity', 1);
    }
  }
}
@include ms-form-field.render();

@include ms-utils.layout();
@include ms-utils.struct();
@include ms-utils.typography($include: ('preset', 'weight', 'alignment'));

.mptl-hero {
  width: 100%;
  max-height: 55vh;
  overflow: clip;
  border-radius: himig.primitive-token-get('radius.2xl');

  img {
    object-fit: cover;
    object-position: center;
  }
}

.mptl-navbar {
  .mptl-navbar__item {
    &.is-active {
      color: himig.token-get('accent-600');
      font-weight: 700;
    }
  }
}

.mptl-tile {
  width: 100%;
  // height: 100%;
  border-radius: himig.primitive-token-get('radius.lg');
  overflow: clip;
  position: relative;
  transition: all var(--ms-transition-time) ease-in-out;

  &:hover {
    transform: translateY(-10px);
    @include himig.struct-shadow('tile', 'md');

    @include himig.breakpoint-create('large') {
      @include himig.key-bind('tile-opacity', 1);
    }
  }

  &.is-locked {
    &:hover {
      cursor: not-allowed;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
    z-index: 0;
    background-image: var(--mptl-tile-background-image);
  }

  .mptl-tile__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: rgba(himig.token-get-raw('accent-600'), 70%);
    color: white;
    opacity: himig.key-create('tile-opacity', 1);
    z-index: 1;
    transition: all var(--ms-transition-time) ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: himig.primitive-token-get('gap.sm');

    p {
      display: none;
    }

    .mptl-tile__icon {
      width: 24px;
      height: 24px;
      display: grid;
      place-content: center;

      > * {
        width: 24px;
        height: 24px;
        display: grid;
        place-content: center;
      }
    }

    @include himig.breakpoint-create('large') {
      inset: 0;
      padding: 2rem;
      opacity: himig.key-create('tile-opacity', 0);

      p {
        display: block;
      }
    }
  }
}

.mptl-pathbar {
  @include himig.typography-apply('pathbar', (
    'size': 'small',
  ));

  .mptl-pathbar__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    // gap: himig.primitive-token-get('gap.sm');
    list-style: none;

    li {
      @include himig.break(1);

      &:last-child {
        color: himig.token-get('accent-600');
        font-weight: 700;
      }

      &:not(:last-child) {
        &::after {
          content: '/';
          margin: 0 0.4rem;
          color: himig.token-get('surface-ink');
        }
      }
    }
  }
}

img, svg, video {
  max-width: 100%;
  display: block;
  font-style: italic;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

@for $i from 1 through 3 {
  .truncate-#{$i} {
    @include himig.break($i);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--repeat, 1), 1fr);
  gap: himig.primitive-token-get('gap.md');

  @include himig.breakpoint-create('medium') {
    --repeat: 2;
  }

  @include himig.breakpoint-create('large') {
    --repeat: 3;
  }
}

.highlighted {
  background: var(--ms-theme-accent-alpha-400);
}

.mptl-lyrics-section {
}

.mptl-lyric-chunk {
  position: relative;

  &:hover {
    &::before {
      position: absolute;
      content: '🔗';
      top: 0;
      left: 0;

      @include himig.breakpoint-create('large') {
        left: calc(100% - 62%);
      }
    }
  }

  lines {
    tag[name='sb'] {
      font-weight: bold;

      + br {
        --visibility: block;
      }
    }

    br {
      display: var(--visibility, block);

      &:first-of-type {
        //--visibility: none;
      }
    }
  }
}